<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Documento</a></li>
          <li class="breadcrumb-item active">Registrar nuevo documento</li>
        </ol>
        
<h4 class="text">Nuevo documento </h4>
</div>
 <div class="probar">
<br>
<%= render "form", documento: @documento %>

<br>

<div>
  <%= link_to "Regresar a documentos", documentos_path %>