<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Pago</a></li>
          <li class="breadcrumb-item active">Pago registrado </li>
        </ol>
        
<h4 class="text">Pago registrado documento </h4>
</div>
 <div class="probar">

<%= render @payment %>

<div>

  <%= link_to "Regresar a pagos", payments_path %>
<br>
</br>
</div>
