<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Firma</a></li>
          <li class="breadcrumb-item active">Firma registrado documento</li>
        </ol>
        
<h4 class="text">Firma registrada al documento </h4>
</div>
 <div class="probar">

<%= render @certificate %>

<div>
  <%= link_to "Editar", edit_certificate_path(@certificate) %> |
  <%= link_to "Lista de constancias firmadas", certificates_path %>

  <%= button_to "Eliminar constancia", @certificate, method: :delete %>
</div>
